#reset {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#reset-button {
    display: flex;
    justify-content: center; 
    width: 150px;
    padding: 5px;
    font-size: 19px;
}

#rock {
    width: 100px;
    padding: 5px;
    font-size: 19px;
}

#paper {
    width: 100px;
    padding: 5px;
    font-size: 19px;
}

#scissors {
    width: 100px;
    padding: 5px;
    font-size: 19px;
}

#title {
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

#sub-title {
    display: flex;
    justify-content: center;
}

#button-parent {
    display: flex;
    gap: 14px;
    justify-content: center;
    margin-top: 40px;
}

.div-parent {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

#div-vs-parent {
    display: flex;
    gap: 320px;
    justify-content: center;
}

.score-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    padding: 50px;
    width: 100px;
    height: 50px;
}

#computer-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    padding: 50px;
    width: 100px;
    height: 50px;
}

#tie-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    padding: 50px;
    width: 100px;
    height: 50px;
}

#player-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
}

#computer-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
}

.player-computer {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid black;
    width: 100px;
    height: 50px;
}

#choice-container {
    display: flex;
    gap: 320px;
    justify-content: center;
}

#body-container {
    background: linear-gradient(to right, lightblue, lightgreen );
    background-repeat: no-repeat;
    margin-left: 60vh;
    margin-right: 60vh;
}

