.rock {

}

.paper {

}

.scissors {
    
}

#player-score {
    display: flex;
    outline: 2px solid black;
    padding: 50px;
    width: 150px;
    margin-top: 20px;
}

#computer-score {
    display: flex;
    outline: 2px solid black;
    padding: 50px;
    width: 150px;
    margin-top: 20px;
}

#tie-score {
    display: flex;
    outline: 2px solid black;
    padding: 50px;
    width: 150px;
    margin-top: 20px;
}